h1{
    text-align: center;
}

#calcucontainer{
    width: 25%;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #00AFF0;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    padding: 35px;
}
button{
    background: lightgray;
    width: 20%;
    font-size: 20px;
    font-weight: 500;
    margin: 2%;
    border-radius: 4px;
    padding: 5px;
}

#firstNum{
    width: 38.5%;
    margin: 3px;
    border: 2px solid black;
    text-align: center;
}
#secondNum{
    width: 38.5%;
    margin: 3px;
    border: 2px solid black;
    text-align: center;
}
#operator{
    margin: 3px;
    border: 2px solid black;
    width: 5%;
    text-align: center;
}
#totalArea{
    width: 90%;
    margin: 3px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}